#a, #b {
	width: 100px;
	height: 100px;
	font: 30pt bold Helvetica, Arial, sans-serif;
	line-height: 100px;
	text-align: center;
}

#a {
	background-color: lightblue;
        float: left;
        
}

#b {
	background-color: pink;
        float: left;
        
}

#c {
	background-color: lightgray;
        width: 200px;
        text-align: right;
        float:left;
       
}
